:root {
  --primary-color: #004ba8;
  --dark-color: #07070a;
  --secondary-color: #24272b;
  --tertiary-color: #4a525a;
  --light-color: #fcf7ff;
}


body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
}




/*
-----------------------
HEADER
-----------------------
*/
header {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  align-items: center;
  color: var(--light-color);
  text-align: center;
}

header h1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 3.5rem;

}

nav {
  display: none;
  background-color: var(--secondary-color);
}

nav.show {
  display: block;
  grid-column: 1/-1;
  text-align: center;
}

nav ul {
  margin: 0;
}

nav li {
  list-style-type: none;
}

nav li a:hover {
  background-color: var(--tertiary-color);
  color: var(--light-color);
} 

nav li a {
  text-decoration: none;
  color: var(--light-color);
  display: block;
  padding: 1rem;
}

.nav-items {
  display: flex;
  flex-direction: column;
  padding: 0;
}

#menu {
  display: block;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: x-large;
  margin-right: 1rem;
}

#menu::before {
  content: "☰";
  color: var(--light-color);
}

#menu.open::before {
  content: "x";
}




/*
FOOTER
*/

footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  text-align: center;
  padding: 1rem;
}

#lastModified {
  font-size: small;
}

#copyright {
  font-size: large;
}
