

/*
MAIN
*/

section {
  padding: 1rem;
}

section ol {
  margin: 0;
  margin-bottom: 1em;
}

main img {
  max-width: 100%;
}

.picture-container img {
  display: block;
  margin: auto;
}


.bold-text {
  font-weight: 600;
}

