:root {
  --primary-color: #004BA8;
  --secondary-color: #07070A;
  --light-color: #FCF7FF;
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--light-color);
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 1rem;
}

h1 {
  font-size: 3rem;
}

main {
  padding: 1rem;
}

img {
  max-width: 100%;

}

.mobile-wireframe img {
  max-width: 300px;
}


.text-bold {
  font-weight: 600;
}




/*
FOOTER
*/

footer {
  background-color: var(--secondary-color);
  color: var(--light-color);
  text-align: center;
  padding: 1rem;
}

#lastModified {
  font-size: small;
}

#copyright {
  font-size: large;
}
