:root {
  --primary-color: #071952;
  --secondary-color: #088395;
  --tertiary-color: #f0f0f0;
}

body {
  font-family: Roboto, helvetica, sans-serif;
  margin: 0;
}

h1,
h2 {
  text-align: center;
}

table {
  margin: auto;
}

.table-label {
  font-weight: bold;
  text-align: right;
}

.place-image {
  width: 100%;
  height: 85vh;
  object-fit: cover;
  object-position: 50% 0%;
}

header {
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  border-bottom: 0.25rem solid var(--secondary-color);
  padding: 0.75rem;
}

footer {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  text-align: center;
  padding: 1rem;
}

.weather-svg {
  width: 20%;
  display: block;
  margin: auto;
}

section {
  padding: 1rem;
}
