body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header,
main,
footer {
  max-width: 640px;
  margin: 1rem auto;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  background-color: #87ceeb;
  padding: 0.5rem;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

section {
  padding: 1rem;
  background-color: #fff;
}
